name: Rust

on:
  push:
    branches: [ "v0.x", "main" ]
  pull_request:
    branches: [ "v0.x", "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        platform: [macos-latest, ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.platform }}
    
    steps:
    - uses: actions/checkout@v6
    - name: Build
      run: cargo build --verbose
    - name: Run checks
      run: cargo clippy --verbose
